<mat-card>
    <mat-card-title>
        Editar PET
    </mat-card-title>
    <form [formGroup]="formPet">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="pet.Nome" formControlName="Nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Apelido" [(ngModel)]="pet.Apelido" formControlName="Apelido">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Selecione a Raça"  formControlName="Raca"  [(ngModel)]="pet.Raca">
                <mat-option *ngFor="let raca of racas | async" [value]="raca.Nome">{{raca.Nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Selecione a Espécie"  formControlName="Especie" [(ngModel)]="pet.Especie">
                <mat-option *ngFor="let especie of especies | async" [value]="especie.Nome">{{especie.Nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Selecione o Dono(a)"  formControlName="Dono" [(ngModel)]="pet.Dono">
                <mat-option [value]=0 >Sem Dono</mat-option>
                <mat-option *ngFor="let dono of donos | async" [value]="dono.id">{{dono.Nome}}</mat-option>
            </mat-select>
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="updatePets()" [disabled]="formPet.invalid" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()" >
        Cancelar
    </button>
</mat-card>